{% extends 'base.html' %} 
{% block title %}Create Show{% endblock %} 
{% block body %}

<form method="post">
    <div class="form-group">
        <h2 style="padding-left: 200px"><b>Create Show</b></h2>
        <div align="left" style="padding-left: 220px">
        <label for="name">Name</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter Show name"
            maxlength="30"
            style="width: 300px;text-align: left"
            required
        />
        <label for="description">Description</label>
        <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter Show Description"
            maxlength="30"
            style="width: 300px;text-align: left"
            required
        />
        <label for="rating">Rating</label>
        <select style="width: 300px;text-align: left" id="rating"  class="form-control"  name="rating" required>
            <option value="UA">U/A</option>
            <option value="Adult">Adult</option>
            <option value="Universal">Universal</option>
        </select>
        
        <label style="padding-top: 10px" for="tag">Tag</label>
                        <select style="width: 300px;text-align: left" id="tag"  class="form-control"  name="tag" required>
                            <option value="Thriller">Thriller</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Romance">Romance</option>
                            <option value="Action">Action</option>
                        </select>

        <label for="datetime">Showtime</label>
        <input
            type="datetime-local"
            class="form-control"
            id="datetime"
            name="datetime"
            placeholder="Enter Time"
            maxlength="35"
            style="width: 300px;text-align: left"
            required
        />    

        
        
                 
        <label style="padding-top: 10px" for="venue_id">Venue</label>
                        <select style="width: 300px;text-align: left" id="venue_id" class="form-control"  name="venue_id" required>
                            {% for venue in venues %}
                            {% set venue_id=venue.id %}
                            <option value="{{venue_id}}">{{ venue_id }}</option>
                            {% endfor %}
                        </select>

            <br>
            <button class="btn btn-dark btn-lg" type="submit">Create this Show</button>

        </div>


    </div>
</form>
<div align="'center" style="padding-left: 20px ">
    <a class="btn btn-dark btn-lg" href="{{ url_for('create_shows') }}"  >Create Show</a>
    <a class="btn btn-dark btn-lg" href="{{ url_for('create_venue') }}"  >Create Venue</a>
  </div>
{% endblock %}