{% extends 'base.html' %} 

{% block title %}All Venues{% endblock %} 
{% block body %}
<h2 style="padding-left: 200px"><b>Venues</b></h2>
<br>
<div class="container emp-profile shadow-lg" style="padding-top: 30px">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Capacity</th>
          <th scope="col" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
    {% for venue in venues %}
        <tr>
            {% set v_id = venue.id %}
          <td>{{ venue.name }}</td>
          <td>{{ venue.location }}</td>
          <td>{{ venue.capacity }}</td>
          <td>
    <div align="center">
    <a class="btn btn-outline-dark" href="{{ url_for('create_venue') }}" >
    <b>Add Venue</b></a>
    <a class="btn btn-outline-dark" href="{{ url_for('update_venue', venue_id = v_id )}}">
    <b>Edit Venue</b></a>
    <a class="btn btn-outline-dark" href="{{ url_for('delete_venue', venue_id = v_id )}}">
    <b>Remove Venue</b></a>
    </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>

    <div align="'center" style="padding-left: 200px ">
    <!-- <a class="btn btn-dark btn-lg" href="{{ url_for('create_venue') }}"  >Create Venue</a> -->
  </div>

{% endblock %}